/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and add some spacing to the wrapper */
.wrapper {
    background-color: #f5f5f5;
    padding: 2%;
    text-align: center;
}

/* Style the header */
header {
    background-color: #333;
    padding: 2%;
    margin-bottom: 0%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav li:not(:last-child) {
    margin-right: 1rem; /* Increase spacing between menu items */
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem 4.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 2vw; /* Responsive font size */
    background-color: rgba(61, 55, 55, 0.284);
}

nav li a:hover {
    background-color: #555;
}

.mainimage {
    text-align: center;
}

.mainimage img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 1%;
}

/* Style the main section */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    background-color: #333333ce;
    padding-top: 2%;
}

.product {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; /* Added transition for opacity */
}

.product img:hover {
    opacity: 0.8; /* Opacity change on hover */
}

.product h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.product p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.product-container a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color  */
}

/*  the footer style */
footer {
    background-color: #333;
    padding: 2%;
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 1%;
    font-size: 2rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.button-container button {
    background-color: #333;
    color: #fff;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

.button-container a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for background-color and color */
}

.button-container a:hover {
    background-color: #555;
    color: #00ff00; /* Example color change on hover */
}

/* CONTACT PAGE */
.contactimage {
    text-align: center;
}

.contactimage img {
    width: 100%;
    height: auto;
}

.container-contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
    background-color: #333333ce;
    padding: 2rem;
}

.content-contact {
    width: 50%;
    float: left;
}

.map-contact {
    width: 50%;
    height: auto;
    float: right;
    margin-top: 2rem;
}

.location2 {
    background-color: #333333ce;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 2rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.1rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type="submit"] {
    background-color: #1a1a25;
    color: white;
    padding: 1% 3%;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #121713;
}

.container-form {
    border-radius: 1rem;
    background-color: #f2f2f2;
    padding: 4%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin: 5%;
}

.founder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
    background-color: #333333ce;
    padding: 2rem;
}

.content-about {
    width: 50%;
    float: right;
}

.image-founder {
    width: 50%;
    height: auto;
    float: left;
    margin-top: 2rem;
}

.image-founder img {
    width: 100%;
    height: auto;
}

.wrapper-about {
    text-align: center;
}

.about-last {
    width: 50%;
    height: auto;
    float: left;
    margin-top: 2rem;
}

.about-last {
    width: 100%;
    height: auto;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    /*  font size of nav items */
    nav li a {
        font-size: 3vw;
    }

    /*  grid layout for product container */
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /*  font size for headings */
    h2 {
        font-size: 1.5rem;
    }

    /*  width of contact form and map */
    .container-contact {
        flex-direction: column;
    }

}